@keyframes goUp {
  0%   { bottom: 0px; }
  50%  { bottom: 250px; }
  100% { bottom: 500px; }
}
.msg.anim_up { animation-name: goUp; }

@keyframes goDown {
  0%   { top: -60px; }
  50%  { top: 250px; }
  100% { top: 500px; }
}
.msg.anim_down { animation-name: goDown; bottom: auto; }

.msg.anim_up, .msg.anim_down {
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.msg.msg_fast {
  animation-duration: 1s;
}

.msg.msg_slow {
  animation-duration: 9s;
}
